.add-members-modal {
  z-index: 1000;
  background: unset;
  overflow: hidden;

  .selection-area {
    max-height: 16rem;
    overflow-y: scroll;

    .user-box {
      .box {
        &.disabled {
          border-color: rgb(173 174 177);
          background-color: rgb(170 170 170);
        }
      }
    }
  }
}

.custom-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
}
